[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-script = "*"
flask-login = "*"
flask-migrate = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.9"
