<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Jeopardy Practice</title>
</head>
<body>
    <div class="filter_container">
        <form action="/filtered" id="filter_form" method="POST">
            <h5>Filter by:</h5>
            <label for="from_season">From Season</label>
            <select name="from_season" id="from_season">
            {% for season in seasons.keys() %}
                <option>{{season}}</option>
            {% endfor %}
            </select>
            <label for="to_season">To Season</label>
            <select name="to_season" id="to_season">
                {% for season in seasons.keys() %}
                    <option>{{season}}</option>
                {% endfor %}
            </select>

            <label for="Category">Category</label>
            <br />
            <input list="Categories" name="category" id="Category">
            <!-- <select name="Category" id="Category"> -->
                <datalist id="Categories">
                    {% for category in categories %}
                        <!-- <option value={{category[0]}}> -->
                        <option>{{category[0]}}</option>
                    {% endfor %}
                </datalist>
            </select>
            <br />
            <label for="value_from">Value From</label>
                <select name="value_from" id="value_from">
                    <option value="" disabled selected>200</option>
                {% for clue_value in clue_values %}
                    <option>{{clue_value[0]}}</option>
                {% endfor %}
                </select>
                <label for="value_to">Value To</label>
                <select name="value_to" id="value_to">
                    <option value="" disabled selected>200</option>
                {% for clue_value in clue_values %}
                    <option>{{clue_value[0]}}</option>
                {% endfor %}
                </select>
            <br><br>
            <input type="submit" onclick="sendData()" value="filter">
            <button onclick="sendData()">Send Data</button>
            <button id="testButton">Test Button</button>
          </form>
          <div id="output"></div>
    </div> 
    <div class="container">

        <img src="../static/jeopardy-logo.jpg" alt="Jeopardy" class="logo">

        <!--todo - message-->
        <!-- <input id="answerForm" type="text" />
        <input type="button" onclick = "showAnsButton()" value="Submit"/> -->
            <div class="form-group">
                <h3>Season</h3>
                <div id="seasonDiv">
                {% if filtered_data %}
                    {{ filtered_data }}
                    {{ filtered_data[0][-1] }}
                    {{ seasonOfQuestion }}

                {% else %} 
                    <!-- {{ data }} -->
                    {{ seasonOfQuestion }}
                {% endif %}
                </div>
                <h3>Value</h3>
                <div id="valueDiv">
                {% if filtered_data %}
                    {{ filtered_data }}
                    {{ filtered_data[0][2] }}
                {% else %} 
                    <!-- {{ data }} -->
                    {{ data[0][2] }}
                {% endif %}
                </div>
                <h3>Category</h3>
                <div id="categoryDiv">
                {% if filtered_data %}
                    {{ filtered_data }}
                    {{ filtered_data[0][3] }}
                {% else %} 
                    <!-- {{ data }} -->
                    {{ data[0][5] }}
                {% endif %}
                </div>    
                <h3>Question</h3>
                <div id="questionDiv">
                {% if filtered_data %}
                    {{ filtered_data[0][4] }}
                {% else %}
                    {{ data[0][6] }}
                {% endif %}  
                <h3>True Answer</h3>  
                </div>

                <h3>Answer</h3>
                <h5>What is....</h5>
                <form action-="/" method="POST" id="answerForm">
                    <input name="answer" id="givenAnswer"><br><br>

                    <div id="submitDiv">
                        <input type="submit" id="submitAnswerButton" onclick="determineIfCorrect()" value="Submit">
                    </div>
                    <div id="answerMessage">TESTING</div>
                    <div id="aanswer"></div>
                    
                    {% if message %}
                    <button id="showAnswer" onclick = "showAns()" type="button">Click to reveal answer</button>

                    <div id="AnswerDiv">
                    {% if filtered_data %}
                        <h5 id="answerH"> {{ filtered_data[0][5].lower().replace("<", "") }} </h5>
                    {% else %}   
                        <h5 id="answerH"> {{ data[0][-1].lower().replace("<", "") }} </h5>
                    {% endif %}    
                    </div>

                    {% endif %}
                </form>                
                <p> {{ message }} </p>
                <div>
                </div>
            </div>
        </form>

        <div>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Generate Another Question With No Filters" />
            </form>
            <form action="{{ url_for('index') }}">
                <input type="submit" onclick="sendData()" value="Generate Another Question With Current Filters" />
            </form>
        </div>
    </div>

<script>


</script>
</body>
<script>
    var filtered = false;
    $('#testButton').click(function(event) {
        event.preventDefault();
        $(this).css('background-color', '#00ff00');
    });

    var questionIdG;
    var correctAnswerG;

    var form = document.getElementById("filter_form")
    var questionDiv = document.getElementById("questionDiv")

    function determineIfCorrect() {
        event.preventDefault();    // prevent page from refreshing
        
        // var form = document.getElementById("answerForm")
        // form.style.backgroundColor = "blue"

        var userAnswer = document.getElementById("givenAnswer").value
        // userAnswer.style.backgroundColor = "green"
        var correctAnswer = JSON.parse('{{ correctAnswer | tojson}}');
        var correctFilteredAnswer = JSON.parse('{{ correctAnswer | tojson}}');
        correctFilteredAnswer=  document.getElementById('aanswer').innerHTML;

        //it's going through / route everytime as opposed to /filtered therefore set another variable in /filtered and check if that variable is present?
        // document.getElementById("answerMessage").innerHTML = userAnswer


        if(correctFilteredAnswer != "") {
            if (userAnswer == correctFilteredAnswer) {
            document.getElementById("answerMessage").innerHTML = "Correct!" + " " + userAnswer + " correct Answer " + correctFilteredAnswer
            document.getElementById("answerMessage").style.display = "block"
            document.getElementById("answerMessage").style.backgroundColor = "blue";

            }
            else {
            document.getElementById("answerMessage").innerHTML = "Incorrect!" + " " + userAnswer + " The correct answer is " + correctFilteredAnswer
            document.getElementById("answerMessage").style.display = "block"
            document.getElementById("answerMessage").style.backgroundColor =  "red";
            }
        }
        else {
            if (userAnswer == correctAnswer) {
            document.getElementById("answerMessage").innerHTML = "Correct answer given - " + userAnswer + " correct Answer " + correctAnswer
            document.getElementById("answerMessage").style.display = "block"
            document.getElementById("answerMessage").style.backgroundColor = "blue";

            }
            else {
            document.getElementById("answerMessage").innerHTML = "Incorrect answer given - " + userAnswer + " The correct answer is " + correctAnswer
            document.getElementById("answerMessage").style.display = "block"
            document.getElementById("answerMessage").style.backgroundColor =  "red";

            }
        }

        // var season = JSON.parse('{{ seasonOfQuestion | tojson}}');
        var season = document.getElementById('seasonDiv').innerHTML
        // var question = JSON.parse('{{ data[0][6] | tojson}}');
        var question = document.getElementById('questionDiv').innerHTML
        var questionId = JSON.parse('{{ data[0][0] | tojson}}');

        // var userAnswer = JSON.parse('{{ correctAnswer | tojson}}');
        // var correctAnswer = 
        var userId = 1;
        var category = JSON.parse('{{ data[0][5] | tojson}}');
        var categoryI = document.getElementById('categoryDiv').innerHTML

        $.ajax({
                url: '/test',
                type: 'POST',
                datatype: 'json',
                data: {'seasonI': season, 'questionI': question, "questionIdI": questionIdG, 'categoryI': categoryI, 'user_idI': userId,
                    'user_answerI': userAnswer, 'correct_answerI': correctAnswerG, 'isAnswerCorrect': userAnswer == correctAnswerG},
                success: function(response) {
                    form.style.backgroundColor = "blue"
                    questionDiv.style.backgroundColor = "yellow"
                    // document.getElementById('categoryDiv').style.backgroundColor = "red"
                    // // var correctAnswer = JSON.parse(JSON.stringify(response)).correctAnswer
                    // document.getElementById('categoryDiv').innerHTML = JSON.parse(JSON.stringify(response)).category
                    // document.getElementById('questionDiv').innerHTML = JSON.parse(JSON.stringify(response)).question
                    // document.getElementById('valueDiv').innerHTML = JSON.parse(JSON.stringify(response)).value
                    // document.getElementById('seasonDiv').innerHTML = JSON.parse(JSON.stringify(response)).season
                    // document.getElementById('aanswer').innerHTML = JSON.parse(JSON.stringify(response)).correctAnswer
                    // document.getElementById('aanswer').style.backgroundColor = "aqua"
                    // document.getElementById('aanswer').style.display = "block"


                    // set a variable such that we know that filtered has returned something, then when submit check if variable is present
                },
                error: function(error) {
                    console.log(error);
                }
            });
    }

    function sendData() {
            event.preventDefault();    // prevent page from refreshing

            var form = document.getElementById("filter_form")

            var from_season_value = document.getElementById('from_season').value;
            var to_season_value = document.getElementById("to_season").value;
            var category_value = document.getElementById("Category").value;
            var value_from_value = document.getElementById("value_from").value;
            var value_to_value = document.getElementById("value_to").value;

            $.ajax({
                url: '/process-filter',
                type: 'POST',
                datatype: 'json',
                data: {'from_season': from_season_value, 'to_season': to_season_value, 'category': category_value, 'from_value': value_from_value,
                    'to_value': value_to_value},
                success: function(response) {
                    form.style.backgroundColor = "red"
                    document.getElementById('categoryDiv').style.backgroundColor = "red"
                    // var correctAnswer = JSON.parse(JSON.stringify(response)).correctAnswer
                    document.getElementById('categoryDiv').innerHTML = JSON.parse(JSON.stringify(response)).category
                    document.getElementById('questionDiv').innerHTML = JSON.parse(JSON.stringify(response)).question
                    document.getElementById('valueDiv').innerHTML = JSON.parse(JSON.stringify(response)).value
                    document.getElementById('seasonDiv').innerHTML = JSON.parse(JSON.stringify(response)).season
                    document.getElementById('aanswer').innerHTML = JSON.parse(JSON.stringify(response)).correctAnswer
                    document.getElementById('aanswer').style.backgroundColor = "aqua"
                    document.getElementById('aanswer').style.display = "block"
                    questionIdG = JSON.parse(JSON.stringify(response)).questionId
                    correctAnswerG = JSON.parse(JSON.stringify(response)).correctAnswer


                    // set a variable such that we know that filtered has returned something, then when submit check if variable is present
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

    function reload() {
        location.reload();
    }

    function showAns() {
      document.getElementById("answerH").style.display = "block";
      document.getElementById('answerDiv').style.display = "block";
    }
    function showAnsButton() {
        document.getElementById("showAnswer").style.display = "block";
        return false;
    }

    var answerButton = document.getElementById("answerForm");
    var showAnswerButton = document.getElementById("showAnswer");
    var submitAnswerButton = document.getElementById("submitAnswerButton")
    answerButton.addEventListener("click",function(e){ 
        showAnswerButton.style.display = "block"
    });

    /**
     * put in another js function that checks if answer is correct and is triggered when user presses submit 
     * this is meant to mean refresh does not happen automatically and thus can stay with filtered options if wanted */

</script>
</html>