<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script>
        $(document).ready(function(){
            $("div").click(function(){
            $(this).hide();
            });
        });
    //     function showAns() {
    //   document.getElementById("answerH").style.display = "block";
    //     }

    </script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Jeopardy Practice</title>
</head>
<body>
    <div class="filter_container">
        <form>
            <h5>Filter by:</h5>
            <label for="from season">From Season</label>
            <select name="from season" id="from_season">
            {% for season in seasons %}
                    <option>{{season[1]}}</option>
            {% endfor %}
            </select>
            <label for="to season">To Season</label>
            <select name="to season" id="to_season">
                {% for season in seasons %}
                    <option>{{season[1]}}</option>
                {% endfor %}
            </select>
            <!-- <label for="browser">Choose your browser from the list:</label>
            <input list="browsers" name="browser" id="browser">
            <datalist id="browsers">
              <option value="Edge">
              <option value="Firefox">
              <option value="Chrome">
              <option value="Opera">
              <option value="Safari">
            </datalist> -->
             <!-- <label for="browser">Choose your browser from the list:</label>
            <input list="browsers" name="browser" id="browser">
            <datalist id="browsers"> -->
            <label for="Category">Category</label>
            <br />
            <input list="Categories" name="Category" id="Category">
            <!-- <select name="Category" id="Category"> -->
                <datalist id="Categories">
                    {% for category in categories %}
                        <!-- <option value={{category[0]}}> -->
                        <option>{{category[0]}}</option>
                    {% endfor %}
                </datalist>
            </select>
            <br />
            <label for="Value From">Value From</label>
                <select name="Value From" id="Value_From">
                {% for clue_value in clue_values %}
                    <option>{{clue_value[0]}}</option>
                {% endfor %}
                </select>
                <label for="Value To">Value To</label>
                <select name="Value To" id="Value To">
                {% for clue_value in clue_values %}
                    <option>{{clue_value[0]}}</option>
                {% endfor %}
                </select>
            <br><br>
            <input type="submit" value="Filter">
          </form>
    </div> 
    <div class="container">

        <img src="../static/jeopardy-logo.jpg" alt="Jeopardy" class="logo">

        <!--todo - message-->
        <!-- <input id="answerForm" type="text" />
        <input type="button" onclick = "showAnsButton()" value="Submit"/> -->
        <!-- <form action="/", onsubmit = "showAnsButton()" id="answerForm" method="POST"> -->
            <div class="form-group">
                <h3>Category</h3>
                {{ data[0][5] }}
                <h3>Question</h3>
                {{ data[0][-2] }}

                <h5>What is....</h5>
                <form action-="/" method="POST" id="answerForm">
                    <input name="answer" id="givenAnswer"><br><br>
                    <input type="submit" value="Submit">
                    {% if message %}
                    <button id="showAnswer" onclick = "showAns()" type="button">Click to reveal answer</button>
                    <h5 id="answerH"> {{ data[0][-1] }} </h5>
                    <p class="message">{{ message | safe }}</p>
                    {% endif %}
                </form>                
                <!-- <p> {{ message }} </p> -->
                <h3>Answer</h3>
                <div>
                </div>
            </div>
        <!-- </form> -->
        <!-- {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %} -->

        <div>
            <form action="{{ url_for('index') }}">
                <input type="submit" value="Generate Another Question" />
            </form>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    // $('button').click(function() {
    //     location.reload();
    // });
    function reload() {
        location.reload();
    }
    function showAns() {
      document.getElementById("answerH").style.display = "block";
    }
    function showAnsButton() {
        document.getElementById("showAnswer").style.display = "block";
        return false;
    }

    // var form = document.getElementById("")
    var answerButton = document.getElementById("answerForm");
    var showAnswerButton = document.getElementById("showAnswer");
    answerButton.addEventListener("click",function(e){ 
        showAnswerButton.style.display = "block"
        // e.preventDefault();
    });

// $(document).ready(function(){
//   $("div").click(function(){
//     $(this).hide();
//   });
// });
</script>
</html>